body {
  /* background: radial-gradient(circle, #000000e2, #0d0c0c); */
  background: #0d0c0c 92%;
  color: white;
}

.title {
  padding-left: 90px;
  margin: 10px 0 0 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 94px;
}

p {
  font-family: 'Inter', sans-serif;
}

p.content{
    width: 60%;
    margin: 0 auto;
    padding: 70px 100px 80px 100px;
    font-size: 23px;
}