.little-text{
    color: rgb(77, 77, 77);
    font-size: 15px;
    width: 60%;
    margin: 0 auto;
    padding: 0 100px 44px 100px;
}

p.content.content-contact{
    padding-bottom: 2px;
    margin-bottom: 2px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a.my-email {
    color: #F24E1E;
}

.title-orange{
    font-size: 45px;
    width: 25%;
    margin-left: 200px;
    margin-top: 0;
    font-weight: 500;
    color: #F24E1E;
}

div.rrss{
    padding-top: 20px;
    width: 65%;
    margin:0 auto;
}

.icon-space{
    padding-inline-start: 30px;
}