.div-footer {
    background: #ffffff;
    color: black;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.a-footer{
    font-weight: 600 ;
}

#menu ul a:hover {
    opacity: 1;
    color: #F24E1E;
}